@charset "utf-8";
@import url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css");

body {font-family : 나눔바른고딕,'Nanum Barun Gothic', sans-serif;background:#f9f9f9; font-size:12px;}

#install { max-width:500px; margin-top:30px;}